table {
    width: 100%;
    background-color: #D3D3D3 ; 
}
.letter-color{
    color: #000 ;
}

.create{
    margin-right: 15px;
}
.edit{
    margin-right: 15px;
}
.create i{
    color: #072393 ;
}
.edit > i{
    color: #F2730F ;
}

.delete > i{
    color: #e35e6b
}